* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(47, 47, 47, 0.7), rgba(47, 47, 47, 0.3)), url("../img/emilianoMate.jpg") center top;
  background-size: cover;
  background-repeat: none; }
  .home h2 {
    color: white; }
  .home .topName {
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 3px solid #2f2f2f; }
    .home .topName .lastName {
      color: #ff6831;
      font-weight: 650; }

.menuButton {
  position: absolute;
  width: 28px;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .menuButton-clic {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 20px;
    height: 3px;
    background: #fff;
    transition: all 0.3s ease-in-out; }
    .menuButton-clic.open {
      transform: rotate(180deg);
      background: transparent; }
    .menuButton-clic::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: #fff;
      transition: all 0.3s ease-in-out; }
    .menuButton-clic::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background: #fff;
      transition: all 0.3s ease-in-out; }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.98;
  visibility: hidden; }
  .nav.open {
    width: 100vw;
    visibility: visible; }
  .nav .menuNav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #2f2f2f;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out; }
    .nav .menuNav.open {
      transform: translateY(0); }
    .nav .menuNav .botones {
      transform: translateX(100vw);
      transition: all 0.3s ease-in-out; }
      .nav .menuNav .botones.open {
        transform: translateX(0); }
      .nav .menuNav .botones.active > a {
        color: #ff6831; }
    .nav .menuNavLink {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 15px 0;
      font-weight: 500;
      transition: all 0.3s ease-in-out; }
      .nav .menuNavLink:hover {
        color: #ff6831; }

.aboutMe {
  height: 1200px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-image: linear-gradient(to right, rgba(47, 47, 47, 0.8), rgba(47, 47, 47, 0.4)), url("../img/emilianoPerro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 1.2rem; }
  .aboutMe #descrip {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #2f2f2f;
    background-size: cover; }
  .aboutMe_image {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .aboutMe_image p {
      margin-bottom: 2rem; }
  .aboutMe h6 {
    font-size: 0.9rem;
    margin-top: 1px; }
  .aboutMe .jobs_define {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto auto 1rem auto;
    padding-bottom: 10px;
    justify-items: center;
    background: #626262;
    background-size: cover;
    border-bottom: 4px solid #ff6831;
    text-align: center; }

.useful {
  padding-bottom: 10vh; }
  .useful__image {
    height: 30vh;
    width: 100%;
    background: linear-gradient(to right, rgba(47, 47, 47, 0.7), rgba(47, 47, 47, 0.3)), url("../img/emilianoPerro.jpg") bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .useful__image h2 {
      margin: auto;
      align-items: center;
      line-height: 2;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      background-size: cover;
      background-color: #2f2f2f; }
  .useful__define {
    width: 90vw;
    height: 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    margin: 2% auto 2% auto;
    background: #494949;
    padding: 5px;
    border: 4px solid #ffa07e;
    align-items: center;
    text-align: center;
    justify-items: stretch;
    font-size: 1.2rem; }
  .useful__text {
    color: white;
    line-height: 40px / 2;
    font-size: 1.1rem; }

@media (min-width: 551px) {
  .carousel {
    padding-bottom: 2rem; }
    .carousel-inner {
      width: 70vw;
      margin: auto;
      row-gap: 1rem; }
    .carousel-item {
      position: relative;
      border-bottom: 5px solid pink;
      overflow: hidden;
      font-weight: 650;
      font-size: 1rem; }
      .carousel-item img {
        width: 50vw;
        height: 50vh; }
      .carousel-item::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: #2f2f2f;
        opacity: 0;
        transition: all 0.3s ease-in-out; }
      .carousel-item-a {
        position: relative;
        margin-top: -2.25rem;
        margin-left: auto;
        border: solid 2px #ff6831;
        color: #ff6831;
        cursor: pointer;
        height: 50%;
        width: 40%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: center; }
      .carousel-item:hover {
        text-transform: uppercase; }
      .carousel-item-b {
        position: relative;
        margin-right: auto;
        border: solid 2px #ff6831;
        color: #ff6831;
        cursor: pointer;
        height: 50%;
        width: 40%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: center; }
      .carousel-item:hover {
        text-transform: uppercase; } }

@media (max-width: 550px) {
  .carousel {
    padding-bottom: 2rem; }
    .carousel-inner {
      width: 90vw;
      margin: auto; }
    .carousel-item {
      position: relative;
      border-bottom: 5px solid pink;
      overflow: hidden;
      font-weight: 650;
      font-size: 1rem; }
      .carousel-item img {
        height: 30vh; }
      .carousel-item::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: #2f2f2f;
        opacity: 0;
        transition: all 0.3s ease-in-out; }
      .carousel-item-a {
        position: relative;
        margin-top: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
        border: solid 2px #ff6831;
        color: #ff6831;
        cursor: pointer;
        height: 50%;
        width: 40%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
      .carousel-item:hover {
        text-transform: uppercase; }
      .carousel-item-b {
        position: relative;
        margin-top: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
        border: solid 2px #ff6831;
        color: #ff6831;
        cursor: pointer;
        height: 50%;
        width: 40%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
      .carousel-item:hover {
        text-transform: uppercase; } }

.contact {
  padding-bottom: 1rem;
  margin-bottom: 5%; }
  .contact_image {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, rgba(47, 47, 47, 0.8), rgba(47, 47, 47, 0.4)), url("../img/contacto.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; }
    .contact_image h2 {
      margin-bottom: 2rem;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500; }
  .contact_info {
    width: 90%;
    height: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    margin: 5px auto auto auto;
    background: #afafaf;
    border: 4px solid #6f6f6f;
    align-items: center; }
    .contact_info .info_define {
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 1%;
      background: #2f2f2f;
      border: 4px solid #6f6f6f;
      text-align: center; }

.formul {
  display: flex;
  flex-direction: column;
  padding: 1fr;
  width: 90%;
  height: 20vh;
  margin: auto;
  background-color: lightslategrey;
  border: 3px solid #ff6831; }
  .formul form input, .formul form textarea {
    box-sizing: border-box;
    color: #525c66;
    font-size: 1rem; }

body {
  background: #2f2f2f;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem; }

h1, h2, h3 {
  font-weight: 450; }

a {
  color: #fff;
  text-decoration: none; }

.text-secondary-color {
  color: #ff6831; }

header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 1rem; }
  header .logotipo--logo {
    position: absolute;
    width: 30px;
    color: #ff6831;
    text-decoration: underline;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; }
    header .logotipo--logo:hover {
      transform: scale(95%);
      font-size: 3.5rem;
      transition: all 0.3s ease-in-out; }

main {
  height: 100%;
  width: 100%; }
  main .socialMedia {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    top: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    z-index: 2; }
    main .socialMedia a {
      padding: 0.5rem;
      transition: all 0.3s ease-in-out; }
      main .socialMedia a:hover {
        color: #ff6831; }
      main .socialMedia a:active {
        color: aquamarine; }

footer {
  position: fixed;
  font-size: 1rem;
  font-weight: 650;
  width: 100%;
  bottom: 0.4rem;
  right: 1rem;
  color: #fff;
  text-align: end;
  line-height: 10px;
  padding: 5px; }
