@import "./partials/resets";
@import "./partials/variables";
@import "./partials/home";
@import "./partials/menu";
@import "./partials/aboutMe";
@import "./partials/useful";
@import "./partials/project";
@import "./partials/contact";


@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

//funcion "nombre de funcion" ($"key", $nombre).  return (devolucion) map-get (buscame)($variable, $key-nombrepuesto)


body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.1rem;
}

h1, h2, h3 {
    font-weight: weight(medium);
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary-color{
    color: $secondary-color;
}

header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding:1rem;

    .logotipo--logo{
        position: absolute;
        width: 30px;
        color: $secondary-color;
        text-decoration: underline;
        font-size: 2.5rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;

        &:hover {
            transform: scale(95%);
            font-size: 3.5rem;
            @include transition-one;            
          }
    }
}



main{
    height: 100%;
    width: 100%;

    .socialMedia{
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        top: auto;
        padding: 10px;
        display: flex;
        flex-direction:row;
        z-index: 2;

        a{
            padding: 0.5rem;
            @include transition-one;
            &:hover{
                color: $secondary-color;
            }

            &:active{
                color: aquamarine;
            }
        }
    }
}

footer{
    position: fixed;
    font-size: 1rem;
    font-weight: weight(bold);
    width: 100%;
    bottom:0.4rem;
    right: 1rem;
    color: set-text-color($primary-color);
    text-align: end;
    line-height: 10px;
    padding: 5px;
}

